<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pending Payments</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="img-container">
    <img src="/bg.png" alt="Background Image" class="bg-img">
  </div>
  <h1 class="main-title">PENDING BILLS</h1>

  <div class="button-container">
    
    <form action="/advance_payment" method="get">
      <button type="submit" class="modern-button">Advance Payment</button>
    </form>
    
    <form action="/sales" method="get">
      <button type="submit" class="modern-button">Sales Pending Payment</button>
    </form>
    <form action="/purchase" method="get">
      <button type="submit" class="modern-button">Purchase Pending Payment</button>
    </form>
    
    <form action="/analysis" method="get">
      <button type="submit" class="modern-button">S-P Analysis</button>
    </form>
    
  </div>
</body>
</html>
